$red: #c32128;
$opaq-red: #feeced;
$green: #52712d;
$opaq-green: #dff0d8;
$orange: #ad611c;
$opaq-orange: #f9dfc3;
$grey: #7b7b7b;

.react-form-input {
  border-color: $grey;
  border-width: 1px;
}

.react-form-input-error {
  border-color: $red;
  border-width: 2px;
}

.react-form-input-warning {
  border-color: $orange;
  border-width: 2px;
}
