.back {
  background: #4d6e7f;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.div-center {
  width: 700px;
  height: 700px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 2em;
  border-bottom: 2px solid #ccc;
  display: table;
}

div.content {
  display: table-cell;
}


.new-company-form {

  .new_template {
    float: left;
  }

  .save_company {
    float: right;
  }

  legend {
    font-size: 1rem;
  }
  .template-selector {
    display: inline;
    a {
      float: right;
      color: #4d6e7f;
    }
    .last-updated {
      color: darkgray;
      font-size: 13px;
    }
    .template-radio {
      margin-right: 15px;
      display: inline;
    }
    .template-name {
      display: inline;
    }
  }
  .DayPickerInput {
    display: inherit;
    input {
      @extend .form-control;
    }
  }


}